groupedswitchgroup *{
	/* background-color: red; */

}
gsgbutton {
	min-width: 3.5em;
	min-height: 1em;
	margin: .4em .1em;
	padding: 0;
	/* background-color: teal; */
	box-shadow: inset  0 .2em 0 0 teal;
}
gsglabel {
	box-shadow: inset  0 -.2em 0 0 teal;
	padding: .4em .1em;
	margin: 0 .1em;

}
gsglabel, gsgbutton {
	margin-left: .2em;
	margin-right: .2em;
}
gsgbutton:checked {
	box-shadow: inset  0 .2em 0 0 red;

}
